* {
  // box-sizing: border-box;
}

html, body {
  // font-size: 10px;
  // font-family: Roboto, Helvetica, Arial, sans-serif;
  // line-height: 150%;
  height: 5000px;
}

canvas {
  background: #003162; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #003162, #ff3159); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #003162, #ff3159); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #003162, #ff3159); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #003162, #ff3159); /* Standard syntax */

  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
