
html {
    position: relative;
    min-height: 100%;
}

body {
    // margin: 0 0 100px; /* bottom = footer height */
    // padding: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px
}

footer {
 	// position: fixed;
 	bottom: 0;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    // height: 100px;
    // width: 100%;
    // overflow:hidden;
}


#navbar {
	background: transparent;
}

#navbar_sticky {
	background: white;
}

#left_menu .item {
	color: white;
	font-size: 22px;
}

#left_menu_sticky .item {
	font-size: 22px;
}

#right_menu {
	background: transparent;
}

#right_menu .item {
	color: white;
}

#right_menu_sticky .item {
	color: black;
}

#main_title {
	text-align: center;
	margin-top: 60px;
}

#typed_word_div {
	display: inline-block;
	width: 75px;
}

h1.ui.header {
	font-size: 45px;
	color: white;
}

h2.ui.header {
	font-size: 18px;
	color: white;
}

h3.ui.header {
	color: white;
}

h3.ui.header.instruction_step {
	color: white;
}


h3.ui.header.or_separator {
	margin-top: 0px;
	font-size: 25px;
}

#main_get_started_btn {
	margin-top: 30px;
}

#how_it_works_div {
	padding-top: 445px;
	text-align: center;
	padding-bottom: 100px;
}

#why_dyxtra_div {
	text-align: center;
	padding-bottom: 100px;
}

#browser_and_plans_img {
	width: 245px;
}

#download_app_img {
	width: 250px;
}

#add_skd_img {
	width: 100%;
	max-width: 370px;
	margin-left: -20px;
}

#trip_info_image {
	width: 250px;
}

#iphone_tracking_img {
	width: 100px;
}

#imac_tracking_img {
	width: 245px;
}

p.copyright_text {
	margin-top: 20px;
	color: white;
}

.plan_column {
	text-align: center;
}

div.ui.attached, div.ui.attached.secondary {
	background: transparent;
	color: white;
}

div.ui.bottom.attached.button {
	margin-left: -1px;
    margin-right: -1px;
}

div.ui.top.attached {
	background-color: white;
	color: black;
}

div.ui.bottom.attached.ui.button.btn-plan {
	background-color: white;
	color: black;
}


div.ui.message.huge {
	background: transparent;
	border-style: dashed;
	border-color: white;
	width: 100%;
    margin: 0 auto;
}

div.ui.huge.message > p {
	color: white;
}

button.ui.button {
	background: transparent;
    border-style: solid;
    border-color: white;
    color: white;
}

.ui.form {
	width: 250px;
    text-align: center;
    margin: 0 auto;
}

.ui.bottom.grey.button > a {
	color: white;
}

img.ui.image{
	margin-top: 30px;
	margin-left: 10px;
	height: 60px;
}

#sticky_logo {
	height: 50px;
	margin-top: 30px;
}

h4 > a > img {
	height: 60px;
}

.right.stackable.menu.ui {
	border-color: transparent;
}

.code_snippet {
	text-align: left;
}

#code_or_no_code{
	width: 100%;
	margin: 0 auto;
}

.ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover {
	border-style: solid;
	border-color: white;
}

.ui.secondary.pointing.menu .item:hover {
	font-weight: bold;
}


#code_or_no_code .ui.pointing.secondary.menu > a {
	color: white;
	font-size: 18px;
	border-bottom-color: white;
	background: rgba(0, 0, 0, 0.17);
}

.ui.attached.tabular.menu {
	background: transparent;
}

#code_snippets_tabs .item {
	color: white;
}

#android_tab {
	width: 94px;
}

#ios1_tab {
	width: 90px;
}

#ios2_tab {
	width: 127px;
}

#code_snippets_tabs .item.active {
	color: black;
}

@media screen and (min-width: 768px) {
	#main_title {
		margin-top: 150px;
	}

    h1.ui.header {
		font-size: 72px;
	}

	h2.ui.header {
		font-size: 25px;
	}

	h3.ui.header.or_separator {
		margin-top: 150px;
		font-size: 25px;
	}

	#imac_tracking_img {
		width: 300px;
	}

	div.ui.message.huge {
		width: 50%;
	}

	img.ui.image {
		height: 60px;
		margin-top: 0px;
		margin-left: 0px;
	}

	#sticky_logo {
		height: 50px;
		margin-top: 6px;
	}

	#code_or_no_code{
		width: 60%;
		margin: 0 auto;
	}

	#browser_and_plans_img {
		width: 350px;
	}

}
