{% extends "base.html" %}
  {% block content %}

    <div class="ui grid middle aligned" id="main_title">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <h2 class="ui header">
          We solve your customers problem of not knowing where their
          <div id="typed_word_div"><span id="element"></span></div>
          is. By providing them with <u>real-time tracking</u> while you focus on running and growing your business.
        </h2>
        <button onclick="window.location='{{ url_for('pricing') }}';" class="ui inverted right labeled icon large button" id="main_get_started_btn">
          <i class="right arrow icon"></i>
          Get Started
        </button>
      </div>
      <div class="four wide column"></div>
    </div>

    <div id="how_it_works_div">
      <h2 class="ui header">how it works</h2>
      <h3 class="ui header">get Uber-like real-time tracking in 3 easy steps:</h3>
      <div class="ui section divider"></div>


      <div class="ui equal width grid">
        <div class="column">
          <h2 class="ui header float left">Step 1</h2>
          <h3 class="ui header instruction_step">Choose a plan that suits your needs and sign-up.</h3>
          <img id='browser_and_plans_img' src="{{ url_for('static', filename='imgs/how_it_works/browser_and_plans.png') }}">
        </div>
      </div>

      <div class="ui equal width stackable grid">
        <div class="column"></div>
        <div class="column">
          <h3 class="ui header instruction_step">Download our app for your drivers and sign-in</h3>
          <img id="download_app_img" src="{{ url_for('static', filename='imgs/how_it_works/app_download.png') }}">
        </div>
        <div class="column">
          <h3 class="ui header or_separator">-- OR --</h3>
        </div>
        <div class="column">
          <h3 class="ui header instruction_step">Add our code to your drivers' app and configure</h3>
          <img id="add_skd_img" src="{{ url_for('static', filename='imgs/how_it_works/iphone_with_code_and_dyxtra_sdk.png') }}">
        </div>
        <div class="column"></div>
      </div>

      <div class="ui section hidden divider"></div>

      <div class="ui equal width grid">
        <div class="column">
          <h2 class="ui header float left">Step 2</h2>
          <h3 class="ui header instruction_step">Add delivery trip details; purpose, destination, driver info, customer contact info.</h3>
          <img id="trip_info_image" src="{{ url_for('static', filename='imgs/how_it_works/add_trip_info_white.png') }}">
        </div>
      </div>

      <div class="ui section hidden divider"></div>

      <div class="ui equal width stackable grid">
        <div class="column">
          <h2 class="ui header float left">Step 3</h2>
          <h3 class="ui header instruction_step">Start tracking!</h3>
          <h3 class="ui header instruction_step">A unique link is generated and sent to customer where they can click on to open a map that tracks location and shows details in real-time, no download/installation required.</h3>
        </div>
      </div>

      <div class="ui equal width stackable grid">
        <dir class="column">
        </dir>
        <dir class="column">
          <h3 class="ui header instruction_step">View it on their smart phones/tablets</h3>
          <img id="iphone_tracking_img" src="{{ url_for('static', filename='imgs/how_it_works/iphone_with_tracking.png') }}">
        </dir>
        <dir class="column">
          <h3 class="ui header or_separator">-- OR --</h3>
        </dir>
        <dir class="column">
          <h3 class="ui header instruction_step">View it on their laptops/computers</h3>
          <img id="imac_tracking_img" src="{{ url_for('static', filename='imgs/how_it_works/imac_with_tracking.png') }}">
        </dir>
        <dir class="column">
        </dir>
      </div>




    </div>
  {% endblock %}
