  {% extends "base.html" %}
    {% block content %}

    <div id="plans_and_pricing_div">
      <h2 class="ui centered header">choose a plan that fits your needs and budget:</h2>
      <div class="ui section divider"></div>
      <div class="ui container">
        <div class="ui three columns stackable grid">
            <div class="column plan_column">
                <div class="ui segments plan">
                    <div class="ui top attached segment plan-title">
                        <span class="ui header">Pay as you go</span>
                    </div>
                    <div class="ui attached segment feature">
                      <div class="amount">$1.99 per trip tracked</div>
                    </div>
                    <div class="ui attached secondary segment feature">
                      <i class="icon check"></i>
                      Unlimited trips tracked
                    </div>
                    <div class="ui attached segment feature">
                      <i class="icon check"></i>
                      Only pay for what you use
                    </div>
                    <a class="mixpanel-tracked-link" href="{{ url_for('register', selected_plan='pay as you go') }}">
                      <div class="ui bottom attached button btn-plan">
                          <i class="cart icon"></i>
                          Select Plan
                      </div>
                    </a>

                </div>
            </div>
          <div class="column plan_column">
                <div class="ui segments plan principal">
                    <div class="ui top attached segment plan-title">
                        <span class="ui header">Small Businesses</span>
                    </div>
                    <div class="ui attached segment feature">
                      <div class="amount">$49.99 per month</div>
                    </div>
                    <div class="ui attached secondary segment feature">
                      <i class="icon check"></i>
                      Up to 10 trips tracked at once
                    </div>
                    <div class="ui attached segment feature">
                      <i class="icon check"></i>
                      Up to 45 trips tracked per month
                    </div>
                    <a class="mixpanel-tracked-link" href="{{ url_for('register', selected_plan='Small Businesses') }}">
                      <div class="ui bottom attached button btn-plan">
                          <i class="cart icon"></i>
                          Select Plan
                      </div>
                    </a>

                </div>
            </div>
          <div class="column plan_column">
                <div class="ui segments plan">
                    <div class="ui top attached segment plan-title">
                        <span class="ui header">Enterprise</span>
                    </div>
                    <div class="ui attached segment feature">
                      <!-- <span class="regular-price">De: R$ 50,00</span> -->
                      <div class="amount">Contact us for details</div>
                    </div>
                    <div class="ui attached secondary segment feature">
                      <i class="icon check"></i>
                      Tailored plan to fit your needs
                    </div>
                    <div class="ui attached segment feature">
                      <i class="icon check"></i>
                      Special integration support
                    </div>
                    <a class="mixpanel-tracked-link" href="{{ url_for('register', selected_plan='enterprise') }}">
                      <div class="ui bottom attached button btn-plan">
                          <i class="cart icon"></i>
                          Select Plan
                      </div>
                    </a>

                </div>
            </div>
        </div>
      </div>

    </div>

    <div class="ui section hidden divider"></div>

    {% endblock %}